<template>
  <PostLayout>
    <div class="center-positioner">
      <article class="post-box">
        <g-image class="figure" :src="$page.post.cover_image.src" alt="Image" />
        <h1 class="title is-2 post-content">{{ $page.post.title }}</h1>
        <div class="section post-content">
          <div class="has-text-weight-medium is-size-5 is-size-6-mobile" v-html="$page.post.description" />
          <div class="post-meta has-text-grey is-6 is-size-7-mobile">
            <span>
              {{ $page.post.date }}, by
              <g-link class="author-link" to="/about">
                <g-image src="~/data/about/assets/roman-gilg-quad.jpg" fit="inside" class="author-image" alt="Author" />
                Roman Gilg
              </g-link>
            </span>
            — {{ $page.post.timeToRead }} min read.
          </div>
          <div class="tags tags-style">
            <g-link class="tag is-light is-rounded" :to="tag.path" v-for="tag in $page.post.tags" :key="tag.id">
              {{ tag.title }}</g-link>
          </div>
        </div>
        <section class="section post-content content deep-selector is-size-5 is-size-6-mobile"
          v-html="$page.post.content" />
        <section class="section disqus-box">
          <Disqus shortname="subdiff" :pageConfig="disqusPageConfig()" :key="$page.post.path" />
        </section>
        <RssIcon class="has-text-centered rss-icon" color="grey" />
      </article>
    </div>
  </PostLayout>
</template>

<script>
import RssIcon from "~/components/RssIcon";

export default {
  metaInfo() {
    return {
      title: this.$page.post.title,
      meta: [
        {
          name: "description",
          content: this.$page.post.description
        }
      ].concat(this.socialMeta(
        "https://subdiff.org" + this.$page.post.path,
        this.$page.post.title,
        this.$page.post.description,
        {
          url: "https://subdiff.org" + this.$page.post.cover_image.src,
          alt: "post header",
          type: "image/jpg",
          width: this.$page.post.cover_image.width,
          height: this.$page.post.cover_image.src.height
        }
      ))
    };
  },
  methods: {
    disqusPageConfig: function () {
      return {
        identifier: this.$page.post.date.slice(-4) + "-" +
          this.$page.post.path.split('/').pop(),
        title: this.$page.post.title,
        url: "https://subdiff.org" + this.$page.post.path
      };
    }
  },
  components: {
    RssIcon
  },
};
</script>

<page-query>
query Post ($path: String!) {
  post: blogPost (path: $path) {
    title
    path
    date (format: "D. MMMM YYYY")
    timeToRead
    tags {
      id
      title
      path
    }
    description
    content
    cover_image (width: 860, blur: 10)
  }
}
</page-query>


<style scoped lang="sass">
.figure
  margin-bottom: 48px
  width: 100%

.post-content
  padding-top: 0px
  padding-left: 30px
  padding-right: 30px

.post-box
  margin: 10px
  box-shadow: 0 2px 6px 0.2px #8A8888

.center-positioner
  margin: 0 auto
  max-width: 750px

.post-meta
  margin-top: 30px
  margin-bottom: 30px

.disqus-box
  margin-top: -50px
  margin-bottom: -10px

.author-image
  max-width: 38px
  max-height: 38px
  height: auto
  border-radius: 99px
  vertical-align: middle
  margin: 0px 6px

.author-link
  transition: filter .2s
  color: dimgrey

.author-link:hover
  filter: brightness(108%)
  color: grey

.tags-style
  margin-top: -5px
  margin-bottom: -20px

.deep-selector
  /deep/ h2, /deep/ h3, /deep/ h4
    margin-top: -60px
    padding-top: 80px
  /deep/ .icon
    height: 16px
    background: url('../data/assets/link.png')
    background-size: contain
    background-repeat: no-repeat
    opacity: 0.7
    margin: 0 0 2px 4px
  /deep/ .icon:hover
    opacity: 0.95

.rss-icon
  padding-bottom: 15px
</style>
