<template>
  <PostLayout>
    <div class="container default-layout">
      <h1 class="title tag-title">#{{ $page.blogTag.title }}</h1>
      <div class="columns is-multiline">
        <div class="column is-full" v-for="edge in $page.blogTag.belongsTo.edges" :key="edge.node.id">
          <BlogPostStripe :show-tags="true" :post="edge.node" />
        </div>
      </div>
    </div>
  </PostLayout>
</template>

<page-query>
query BlogTag ($id: ID!) {
  blogTag (id: $id) {
    title
    belongsTo {
      edges {
        node {
          ...on BlogPost {
            title
            path
            tags {
              id
              title
              path
            }
            date (format: "D. MMMM YYYY")
            description
            cover_image (width: 860, blur: 10)
          }
        }
      }
    }
  }
}
</page-query>

<script>
import BlogPostStripe from "~/components/BlogPostStripe";

export default {
  components: {
    BlogPostStripe
  },
  metaInfo() {
    return {
      title: "#" + this.$page.blogTag.title
    };
  }
};
</script>

<style lang="sass" scoped>
.tag-title
  text-align: center

</style>