<template>
  <PostLayout>
    <div class="container default-layout" style="margin-bottom: 30px">
      <ProjectCard :prjData="$page.project"></ProjectCard>
    </div>
  </PostLayout>
</template>

<page-query>
query Project ($path: String!) {
  project (path: $path) {
    name
    logo
    description
    color
    url
    tag
    contributions {
      text
      url
    }
  }
}
</page-query>

<script>
import ProjectCard from "~/components/ProjectCard";

export default {
  metaInfo() {
    return {
      title: this.$page.project.name + " Project",
      meta: [
        {
          name: "description",
          content: this.$page.project.description
        }
      ]
    };
  },
  components: {
    ProjectCard
  },
  computed: {
    logoPath: function () {
      return "~/assets/projects/" + this.$page.project.logo;
    }
  }
};
</script>

<style lang="sass" scoped>

</style>
