<template>
  <PostLayout>
    <div class="container default-layout">
      <section>
        <div class="post-entry" v-for="edge in $page.posts.edges" :key="edge.node.id">
          <BlogPostStripe :post="edge.node" />
        </div>
      </section>

      <section class="post-entry">
        <nav v-if="$page.posts.pageInfo.totalPages > 1" class="pagination is-centered" role="navigation"
          aria-label="pagination">
          <g-link :style="{ visibility: $page.posts.pageInfo.isFirst ? 'hidden' : 'visible' }" :to="prevPageLink()"
            class="pagination-previous">Newer</g-link>
          <ul v-if="$page.posts.pageInfo.totalPages <= 5" class="pagination-list">
            <li>
              <g-link :class="{ 'is-current': $page.posts.pageInfo.currentPage === 1 }" to="/blog"
                class="pagination-link" aria-label="Goto page 1">1</g-link>
            </li>
            <li v-for="index in ($page.posts.pageInfo.totalPages - 1)" :key="index">
              <g-link :class="{ 'is-current': $page.posts.pageInfo.currentPage === index + 1 }"
                :to="'/blog/' + (index + 1)" class="pagination-link" aria-label="Goto page index">{{ index + 1 }}
              </g-link>
            </li>
          </ul>

          <ul v-else class="pagination-list">
            <li v-if="!$page.posts.pageInfo.isFirst">
              <g-link to="/blog" class="pagination-link" aria-label="Goto page 1">1</g-link>
            </li>
            <li v-if="$page.posts.pageInfo.currentPage > 4">
              <span class="pagination-ellipsis">&hellip;</span>
            </li>
            <li v-if="$page.posts.pageInfo.currentPage === 4">
              <g-link :to="(2).toString()" class="pagination-link" aria-label="Goto page 2">2</g-link>
            </li>
            <li>
              <g-link :to="prevPageLink()" v-if="$page.posts.pageInfo.currentPage > 2" class="pagination-link"
                aria-label="Goto page 45">{{ $page.posts.pageInfo.currentPage - 1 }}</g-link>
            </li>
            <li>
              <g-link class="pagination-link is-current" aria-label="$page.posts.pageInfo.currentPage"
                aria-current="page">{{ $page.posts.pageInfo.currentPage }}</g-link>
            </li>
            <li v-if="$page.posts.pageInfo.currentPage < $page.posts.pageInfo.totalPages - 1">
              <g-link :to="nextPageLink()" class="pagination-link"
                :aria-label="'Goto page ' + ($page.posts.pageInfo.currentPage + 1)">{{ $page.posts.pageInfo.currentPage
                    +
                    1
                }}</g-link>
            </li>
            <li v-if="$page.posts.pageInfo.currentPage < $page.posts.pageInfo.totalPages - 3">
              <span class="pagination-ellipsis">&hellip;</span>
            </li>
            <li v-if="$page.posts.pageInfo.currentPage === $page.posts.pageInfo.totalPages - 3">
              <g-link :to="($page.posts.pageInfo.totalPages - 1).toString()" class="pagination-link"
                :aria-label="'Goto page' + ($page.posts.pageInfo.totalPages - 1)">{{ $page.posts.pageInfo.totalPages - 1
                }}</g-link>
            </li>
            <li v-if="!$page.posts.pageInfo.isLast">
              <g-link :to="$page.posts.pageInfo.totalPages.toString()" class="pagination-link"
                aria-label="Goto page $page.posts.pageInfo.totalPages">{{ $page.posts.pageInfo.totalPages }}</g-link>
            </li>
          </ul>
          <g-link :style="{ visibility: $page.posts.pageInfo.isLast ? 'hidden' : 'visible' }" :to="nextPageLink()"
            class="pagination-next">Older</g-link>
        </nav>
      </section>
      <section class="has-text-centered rss-icon">
        <RssIcon color="orange" />
      </section>
    </div>
  </PostLayout>
</template>

<page-query>
query Blog($page: Int) {
  posts: allBlogPost(perPage: 10, page: $page) @paginate {
    pageInfo {
      totalPages
      currentPage
      isFirst
      isLast
    }
    edges {
      node {
        id
        title
        path
        tags {
          id
          title
          path
        }
        date (format: "D. MMMM YYYY")
        timeToRead
        description
        cover_image (width: 770, height: 380)
      }
    }
  }
}
</page-query>

<script>
import BlogPostStripe from "~/components/BlogPostStripe";
import RssIcon from "~/components/RssIcon";

export default {
  metaInfo: {
    title: "Blog"
  },
  components: {
    BlogPostStripe,
    RssIcon
  },
  methods: {
    prevPageLink: function () {
      var prevPage = this.$page.posts.pageInfo.currentPage - 1;
      if (prevPage === 1) return "/blog";
      return "/blog/" + prevPage.toString();
    },
    nextPageLink: function () {
      var nextPage = this.$page.posts.pageInfo.currentPage + 1;
      return "/blog/" + nextPage.toString();
    }
  }
};
</script>

<style lang="sass" scoped>
.post-entry
  margin-bottom: 22px

.rss-icon
  margin-top: 40px
  margin-bottom: -25px
</style>
