<template>
  <Layout>
    <h2 class="section subtitle">
      404: File not found
    </h2>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: 'Not found'
  }
}
</script>

<style lang="sass" scoped>
h2
  text-align: center
</style>
