<template>
  <Layout>
    <section class="level container default-layout">
      <div class="level-item">
        <div class="columns is-centered is-vcentered is-multiline is-7 is-variable">
          <div class="column is-narrow">
            <g-image src="~/data/about/assets/roman-gilg.jpg" fit="cover" height="400" width="300" />
          </div>
          <div class="column is-narrow">
            <h1 style="padding-bottom: 20px" class="subtitle is-4">Roman Gilg</h1>
            <div class="content">
              <p>
                <i>Location:</i> &nbsp;Germany
              </p>
              <i>Education:</i>
              <ul>
                <li>M.Sc. Mathematics</li>
                <li>B.Sc. Mathematics and Philosophy</li>
                <li>B.Sc. Engineering management</li>
              </ul>
              <i>Contact:</i>
              <ul>
                <li>
                  <a href="mailto:subdiff@gmail.com">Email</a>
                </li>
                <li>
                  <a href="https://twitter.com/subdiff" target="_blank">Twitter</a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/roman-gilg" target="_blank">LinkedIn</a>
                </li>
                <li>
                  on IRC freenode:
                  <i>romangg</i>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: "About"
  }
};
</script>

<style lang="sass" scoped>
.text-style
  text-align: center
</style>
