<template>
  <Layout>
    <div class="container default-layout">
      <section class="columns is-vcentered is-variable is-6" style="margin: 0 -20px 0 -20px">
        <div class="column has-text-right is-hidden-mobile">
          <g-image alt="Logo" src="~/favicon.png" width="280" />
        </div>
        <div class="column has-text-centered is-hidden-tablet" style="margin-top: -10px">
          <g-image alt="Logo" src="~/favicon.png" width="200" />
        </div>
        <div class="column" :class="{ 'is-three-fifths': !isMobile, 'has-text-centered': isMobile }">
          <h1 class="title">subdiff : software systems</h1>
          <h2 class="subtitle">co-creating essential open source graphics technology</h2>
          <nav class="level" :class="{ 'button-style': isMobile }">
            <div class="level-item">
              <g-link to="/projects" class="button is-success">Find out about Projects</g-link>
            </div>
          </nav>
        </div>
      </section>

      <section style="margin-top: 50px">
        <div class="columns">
          <div class="column has-text-centered">
            <div class="container">
              <h1 class="title">Architect</h1>
              <h2 class="subtitle">
                Engineer software in a
                <strong>holistic</strong> way. Build solutions that stand the test of time.
              </h2>
            </div>
          </div>
          <div class="column has-text-centered">
            <div class="container">
              <h1 class="title">Pragmatic</h1>
              <h2 class="subtitle">
                Rome wasn't built in a day. Reach for
                <strong>sensible</strong> goals under given constraints.
              </h2>
            </div>
          </div>
          <div class="column has-text-centered">
            <div class="container">
              <h1 class="title">Open Source</h1>
              <h2 class="subtitle">
                Sharing information is key to technological and social
                <strong>progress</strong>. And it's efficient.
              </h2>
            </div>
          </div>
        </div>
      </section>
    </div>
  </Layout>
</template>

<script>
export default {
  metaInfo() {
    return {
      title: "Welcome",
      meta: this.socialMeta(
        "https://subdiff.org",
        "subdiff : software systems",
        "Welcome to subdiff : software system",
        {
          url: "https://subdiff.org/assets/logo.png",
          alt: "logo",
          type: "image/png",
          width: 928,
          height: 929
        }
      )
    };
  },
  data() {
    return { windowWidth: 1024 };
  },
  mounted() {
    this.windowWidth = window.innerWidth;
    window.addEventListener("resize", () => {
      this.windowWidth = window.innerWidth;
    });
  },
  computed: {
    isMobile: function () {
      return this.windowWidth <= 768;
    }
  }
};
</script>

<style lang="sass" scoped>
.button-style
  margin-top: 50px
</style>
