<template>
  <g-link :to="post.path">
    <div class="box box-trans">
      <div class="columns is-vcentered is-variable is-3">
        <div class="column is-3">
          <img class="cropped" :src="post.cover_image.src" alt="Image">
        </div>
        <div class="column">
          <h2 class="title is-3">{{ post.title }}</h2>
          <div class="subtitle is-7 has-text-grey">{{ post.date }}</div>
          <div class="tags">
            <object>
              <g-link v-for="tag in post.tags" :to="tag.path" :key="tag.id" class="tag is-light is-rounded">
                {{ tag.title }}</g-link>
            </object>
          </div>
          <p class="content" v-html="post.description"></p>
        </div>
      </div>
    </div>
  </g-link>
</template>

<script>
export default {
  props: {
    post: Object,
    showTags: {
      default: true,
      type: Boolean
    }
  }
};
</script>

<style lang="sass" scoped>
.cropped
  object-fit: cover
  width: 100%
  height: 30ex

.box-trans
  transition: transform .4s, box-shadow .7s

.box-trans:hover
  transform: translateY(-3px)
  box-shadow: 0 2px 6px 0.2px #8A8888
</style>
