<template>
    <div class="card">
        <div class="card-image">
            <figure class="image is-21by9">
                <g-link :to="post.path">
                    <g-image :src="post.cover_image.src" alt="Placeholder image" />
                </g-link>
            </figure>
        </div>

        <div class="card-content">
            <h1 class="title">
                <g-link class="title is-4" :to="post.path">{{ post.title }}</g-link>
            </h1>
            <p class="content">
                {{ post.description }}
            </p>
        </div>

        <footer class="card-footer">
            <p class="card-footer-item">
                <span>
                    <g-link :to="post.path">Read more</g-link>
                </span>
            </p>
        </footer>
    </div>
</template>

<script>
export default {
    props: ['post']
}
</script>