<template>
  <div v-click-outside="hideDropDownMenu" class="header-style"
    :class="{'header-shadow': scrolledDown || dropDownActive}">
    <nav class="default-layout container">
      <div class="columns is-gapless is-variable is-multiline is-vcentered bar-style is-mobile">
        <div class="column">
          <div class="columns is-gapless is-mobile is-vcentered">
            <transition name="fade" @after-leave="titleCleanedUp = true" @before-enter="titleCleanedUp = false">
              <div v-if="(!scrolledDown || dropDownActive) && upButtonCleanedUp" class="column">
                <div style="display: inline-block">
                  <g-link class="nav-link" to="/">
                    <div v-show="allMounted && !scrolledDownAtStart" class="subtitle is-6 nav-item">subdiff.org</div>
                  </g-link>
                </div>
              </div>
            </transition>

            <transition :name="dropDownMenuCleanedUp && !scrolledDownAtStart ? 'fade-jump' : 'fade'"
              @after-leave="upButtonCleanedUp = true; scrolledDownAtStart = false;"
              @before-enter="upButtonCleanedUp = false">
              <div v-if="scrolledDown && !dropDownActive && titleCleanedUp" class="column">
                <a style="margin-left: 14px">
                  <g-image v-scroll-to="'body'" src="~/favicon.png" width="35" />
                </a>
              </div>
            </transition>

            <transition name="fade" @after-leave="dropDownCleanedUp = true" @before-enter="dropDownCleanedUp = false">
              <div v-if="dropDownAvail" class="column is-narrow" role="button" @click="dropDownActive = !dropDownActive"
                aria-label="menu" :aria-expanded="dropDownActive" style="margin-right: 14px">
                <HamburgerAnimated :opened="dropDownActive" />
              </div>
            </transition>
          </div>
        </div>

        <template v-if="dropDownCleanedUp">
          <div class="column is-narrow">
            <g-link class="nav-link" to="/projects">
              <div class="subtitle is-6 nav-item">Projects</div>
            </g-link>
          </div>
          <div class="column is-narrow">
            <g-link class="nav-link" to="/blog">
              <div class="subtitle is-6 nav-item">Blog</div>
            </g-link>
          </div>
          <div class="column is-narrow">
            <g-link class="nav-link" to="/about">
              <div class="subtitle is-6 nav-item">About</div>
            </g-link>
          </div>
        </template>
      </div>

      <transition name="slide" class="menu-style" @after-leave="dropDownMenuCleanedUp = true"
        @before-enter="dropDownMenuCleanedUp = false">
        <div v-if="dropDownAvail && dropDownActive">
          <div style="margin-top: -20px">
            <div class>
              <g-link class="nav-link" to="/projects">
                <div class="subtitle is-6 nav-item">Projects</div>
              </g-link>
            </div>
            <div class>
              <g-link class="nav-link" to="/blog">
                <div class="subtitle is-6 nav-item">Blog</div>
              </g-link>
            </div>
            <div class>
              <g-link class="nav-link" to="/about">
                <div class="subtitle is-6 nav-item">About</div>
              </g-link>
            </div>
          </div>
        </div>
      </transition>
    </nav>
  </div>
</template>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<script>
import HamburgerAnimated from "~/components/HamburgerAnimated";

export default {
  components: {
    HamburgerAnimated
  },
  data() {
    return {
      scrolledDown: false,
      dropDownActive: false,
      windowWidth: 1024,
      dropDownCleanedUp: true,
      upButtonCleanedUp: true,
      titleCleanedUp: false,
      dropDownMenuCleanedUp: true,
      scrolledDownAtStart: false,
      allMounted: false
    };
  },
  computed: {
    dropDownAvail: function () {
      return this.windowWidth < 380 || this.scrolledDown;
    }
  },
  mounted() {
    this.windowWidth = window.innerWidth;

    window.addEventListener("scroll", this.onScroll);
    window.addEventListener("resize", this.onResize);

    this.$nextTick(function () {
      // executed when all children have been mounted as well
      this.scrolledDownAtStart = this.isScrolledDown();
      this.scrolledDown = this.scrolledDownAtStart;
      this.allMounted = true;
    })
  },
  beforeDestroy() {
    window.removeEventListener("scroll", this.onScroll);
    window.removeEventListener("resize", this.onResize);
  },
  methods: {
    onScroll() {
      this.hideDropDownMenu();
      this.scrolledDown = this.isScrolledDown();
    },
    onResize() {
      // alternative: document.documentElement.scrollTop
      this.windowWidth = window.innerWidth;
    },
    isScrolledDown() {
      return window.pageYOffset > 10;
    },
    hideDropDownMenu() {
      this.dropDownActive = false;
    },
    scrollToTop() {
      window.scrollTo(0, 0);
    }
  }
};
</script>

<style lang="sass" scoped>
.header-style
  background-color: white
  position: fixed
  top: 0
  width: 100%
  transition: .5s
  z-index: 1

.header-shadow
  box-shadow: 0 0 8px rgba(0, 0, 0, .5)

.bar-style
  height: 60px
  padding: 5px 0 5px 0
  background-color: white
  overflow: auto
  position: relative
  z-index: 2

.menu-style
  position: relative
  z-index: -1

.nav-item
  outline: none
  height: 40px
  line-height: 40px
  padding: 0 15px 0 15px

.nav-item:hover
  transition: .2s
  color: hsl(0, 0%, 5%)

.nav-link
  outline: none

.burger-line
  width: 22px
  height: 3px
  background-color: hsl(0, 0%, 40%)
  margin: 4px 14px

#burger:hover .burger-line
  background-color: hsl(0, 0%, 0%)

.drop-down-menu:hover
  color: hsl(0, 0%, 90%)

.drop-down-active
  transition: .7s
  background-color: hsl(0, 0%, 99%)

.fade-jump-enter-active
  transition: opacity .6s
  animation: bounce-in .6s

@keyframes bounce-in
  0%
    transform: translateY(0px)
  30%
    transform: translateY(-4px)
  50%
    transform: translateY(0px)
  80%
    transform: translateY(-2px)
  100%
    transform: translateY(0px)

.fade-enter-active
  transition: opacity .6s

.fade-leave-active
  transition: opacity .1s

.fade-enter,
.fade-jump-enter,
.fade-leave-to
  opacity: 0

.fade-enter-to,
.fade-jump-enter-to,
.fade-leave
  opacity: 1

.slide-enter-active,
.slide-leave-active
  transition: all .5s

.slide-enter,
.slide-leave-to
  opacity: 0
  margin-top: -145px // that's hacky

.slide-enter-to,
.slide-leave
  opacity: 1
  margin-top: 0px

</style>
