<template>
  <div class="center-positioner">
    <div class="box-class">
      <div class="box" :style="boxEdges">
        <div class="section columns is-variable is-5 is-vcentered is-mobile">
          <div class="column">
            <g-image class="figure" :src="prjData.logo" fit="contain" alt="Project Logo" />
          </div>
          <div class="column is-two-thirds">
            <h1 class="title">{{ prjData.name }}</h1>
            <h2 class="subtitle">{{ prjData.description }}</h2>
            <p>
              <a :href="prjData.url" target="_blank">Project site</a>
            </p>
          </div>
        </div>

        <section class="section" style="margin-top: -30px; margin-bottom: -30px">
          <h3 class="subtitle">Notable contributions</h3>
          <p v-for="contr in prjData.contributions" :key="contr.url">
            <a :href="contr.url" target="_blank">{{ contr.text }}</a>
          </p>
        </section>

        <section class="section">
          <h3 class="subtitle">Related Blog posts</h3>
          <p v-for="node in relatedBlogPosts" :key="node.id">
            <g-link :to="node.path">{{ node.title }}</g-link>
            ({{ node.date }})
          </p>
        </section>

        <div class="level" style="margin-top: 20px; margin-bottom: 10px">
          <g-link to="/projects" class="level-item subtitle is-6">&#xab Back to Projects overview</g-link>
        </div>
      </div>
    </div>
  </div>
</template>

<static-query>
query {
  posts: allBlogPost {
    edges {
      node {
        id
        title
        path
        tags {
          id
          title
        }
        date (format: "DD.MM.YY")
      }
    }
  }
}
</static-query>

<script>
export default {
  props: ["prjData"],
  computed: {
    boxEdges() {
      return { "box-shadow": "0 0px 6px 0.5px " + this.prjData.color };
    },
    relatedBlogPosts() {
      var ret = [];

      for (var edge of this.$static.posts.edges) {
        for (var tag of edge.node.tags) {
          if (tag.title === this.prjData.tag) {
            // tag found, add and break inner loop
            ret.push(edge.node);
            break;
          }
        }
      }

      return ret;
    }
  }
};
</script>

<style lang="sass" scoped>
.prjs-link
  color: hsl(0, 0%, 40%)
.prjs-link:hover
  color: grey

.center-positioner
  padding-top: 20px
  margin: 0 auto
  max-width: 720px

.box-class
  margin: 16px
</style>