<template>
  <div>
    <g-link target="_blank" to="/blog/feed.xml">
      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" :stroke="color"
        stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rss">
        <path d="M4 11a9 9 0 0 1 9 9" />
        <path d="M4 4a16 16 0 0 1 16 16" />
        <circle cx="5" cy="19" r="1" />
      </svg>
    </g-link>
  </div>
</template>

<script>
export default {
  props: ["color"]
};
</script>
