<template>
  <div>
    <NavBar />
    <div class="main-slot">
      <slot />
    </div>
    <Footer/>
  </div>
</template>

<script>
import NavBar from "~/components/NavBar";
import Footer from "~/components/Footer";

export default {
  components: {
    NavBar,
    Footer
  },
  name: "DefaultLayout",
  data: function () {
    return {
      isActive: false
    };
  }
};
</script>